footer{
    direction: rtl;
    background: linear-gradient(618deg, #eae2b7 0% ,#FFF 79%);
	padding:20px 0;
	margin-top:10%;
	font-family:'Lobster Two', monospace;

}
.footer-container{
    flex-direction: row-reverse;
	max-width:1300;
	margin:auto;
	padding:0 20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap-reverse;
}
.logo{
	width:180px;
}
.social-media{
	margin:20px 0;
}
.social-media a{
	color:#000000;
	margin-right:25px;
	font-size:30px;
	text-decoration:none;
	transition:.3s linear;
}
.social-media a:hover{
	color:#F6C90E
    ;
}
.right-col h4{
	font-size:40px;
	}
.border{
	width:100px;
	height:4px;
	background:#F6C90E
    ;
}



.footer-text{
    margin: 0;
    padding: 20px;
     }
  
@media screen and (max-width:960px){

	.footer-container{
		max-width:600px;
	}
	.right-col{
		width:100%;
		margin-bottom:60px;
     
	}
	.left-col{
		width:100%;
		text-align:center;
	}
    
}

